body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h3 {
    text-align: center;
    color: #444;
}

.container,
.inputContainer {
    text-align: center;
    max-width: 800px;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.pSmallMargins {
    margin-top: 2px;
    margin-bottom: 2px;
}

#chatContainer {
    overflow-y: scroll;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.message {
    margin: 5px 0;
    padding: 5px;
}

.you {
    color: green;
}

.assistant {
    color: black;
}

.warning {
    color: red;
}

.system {
    color: blue;
}

.inputContainer {
    position: fixed;
    bottom: 20px;
    height: 100px;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#messageInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 100%;
}

#sendButton {
    padding: 10px 20px;
    margin-bottom: 2px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

#sendButton:hover {
    background-color: #45a049;
}

#sendButton:disabled {
    background-color: lightgrey;
}

/* Styling for code blocks */
pre code {
    display: block;
    padding: 10px;
    margin: 0;
    overflow-x: auto;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Inline code */
p code {
    padding: 2px 4px;
    margin: 0;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Blockquotes */
blockquote {
    margin: 0 0 1em;
    padding-left: 1em;
    border-left: 4px solid #d0d0d0;
    color: #6a737d;
}

/* Lists */
ul, ol {
    margin: 0 0 1em 1.5em;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
}
